  @import url('https://fonts.googleapis.com/css?family=Shadows+Into+Light');
  @import url('https://fonts.googleapis.com/css?family=Lato');

.container{
text-align: center;
}

.header{
	border-bottom: thick dotted;
	width: 50%;
	margin: auto;
	margin-bottom: 20px;
	font-family: 'Shadows Into Light';
}
.header > h1{
	font-size: 60px;
	
}

.all-lists{
	text-transform: uppercase;
	font-size: 25px;		 
}

p{
	width: 50%;
	margin: auto;
	padding: 10px;
	color: white;
	font-family: Lato;
}

.description{
	font-family: Lato;
	width: 50%;
	margin: auto;
}

.button{
	margin-top: 50px;
	font-family: Lato;

}


.img-div{
  height: 150px;
  margin-top: 20px;
}
.memory-image {
  max-height: 130px;
}
label:before {
  content: url("https://cdn1.iconfinder.com/data/icons/windows8_icons_iconpharm/26/unchecked_checkbox.png");
  position: absolute;
  z-index: 100;
}
:checked+label:before {
  content: url("https://cdn1.iconfinder.com/data/icons/windows8_icons_iconpharm/26/checked_checkbox.png");
}
input[type=checkbox] {
  display: none;
}
label {
  margin: 10px;
}
