  @import url('https://fonts.googleapis.com/css?family=Shadows+Into+Light');
  @import url('https://fonts.googleapis.com/css?family=Lato');

.container{
text-align: center;
}

.header{
	border-bottom: thick dotted;
	width: 50%;
	margin: auto;
	text-align: center;
	margin-bottom: 20px;
	font-family: 'Shadows Into Light';
}
.header > h1{
	font-size: 60px;	
}
.welcome-text{
	font-size: 20px;
}
.all-lists{
	text-transform: uppercase;
	font-size: 25px;		 
}

p{
	width: 50%;
	margin: auto;
	padding: 10px;
	color: white;
	font-family: Lato;
}
.bg.dis-red {
	background-color: #fc1520;
}
.odd.dis-red {
	background-color: #c86162;
	color: #fc1520;
}
.even.dis-red {
	background-color: #89171a;
	color: #fc1520;
}
.bg.har-red {
	background-color: #b04244;
}
.odd.har-red {
	background-color: #c64c4e;
	color: #b04244;
}
.even.har-red {
	background-color: #df5658;
	color: #b04244;
}
.bg.dis-green {
	background-color: #2cfd33;
}
.odd.dis-green {
	background-color: #77c865;
	color: #2cfd33;
}
.even.dis-green {
	background-color: #308920;
	color: #2cfd33;
}
.bg.har-green {
	background-color: #76aa46;
}
.odd.har-green {
	background-color: #8ac653;
	color: #76aa46;
}
.even.har-green {
	background-color: #94d259;
	color: #76aa46;
}


.description{
	font-family: Lato;
	width: 50%;
	margin: auto;
}

.button{
	margin-top: 50px;
	font-family: Lato;

}

.img-div{
  height: 150px;
  margin-top: 20px;
}
.memory-image {
  max-height: 130px;
}
label:before {
  content: url("https://cdn1.iconfinder.com/data/icons/windows8_icons_iconpharm/26/unchecked_checkbox.png");
  position: absolute;
  z-index: 100;
}
:checked+label:before {
  content: url("https://cdn1.iconfinder.com/data/icons/windows8_icons_iconpharm/26/checked_checkbox.png");
}
input[type=checkbox] {
  display: none;
}
label {
  margin: 10px;
}
